#container {
    position: absolute;
    height: 800px;
    width: 1200px;
    border: 2px solid #000;
    perspective: 600px;
}

#world {
    position: absolute;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(30deg) rotateZ(30deg);
}

#square1 {
    position: absolute;
    height: 200px;
    width: 200px;
    background: rgba(124, 34, 46, 0.5);
    transform: translate3d(200px, 330px, 0px) rotateX(0deg);
}

#square2 {
    position: absolute;
    height: 200px;
    width: 200px;
    background: rgba(112, 124, 34, 0.5);
    transform: translate3d(200px, 330px, -200px) rotateX(0deg);
}

#square3 {
    position: absolute;
    height: 200px;
    width: 200px;
    background: rgba(34, 124, 38, 0.5);
    transform: translate3d(200px, 430px, -100px) rotateX(90deg) ;
}

#square4 {
    position: absolute;
    height: 200px;
    width: 200px;
    background: rgba(34, 118, 124, 0.5);
    transform: translate3d(200px, 230px, -100px) rotateX(90deg) ;
}

#square5 {
    position: absolute;
    height: 200px;
    width: 200px;
    background: rgba(124, 34, 83, 0.5);
    transform: translate3d(100px, 330px, -100px) rotateY(90deg) ;
}

#square6 {
    position: absolute;
    height: 200px;
    width: 200px;
    background: rgba(43, 34, 124, 0.5);
    transform: translate3d(300px, 330px, -100px) rotateY(90deg) ;
}

#pawn {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 400px;
    left: 600px;
    border: 2px solid #FF00FF;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}